.purchase-button{
    color: white;
    padding: 0.25rem;
    border-radius: 4px;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1.2px;
    cursor: pointer;
    background-color: rgb(255, 178, 56);
    margin-right: 10px;
    max-width: 10rem
}
.purchase-button:hover{
    opacity: 0.9;
}
.cancel-button{
    @extend .purchase-button;
    color: rgb(255, 178, 56);
    background-color: whitesmoke;
    border: 1px solid rgb(255, 178, 56);
}
